{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

  <!--Main layout-->
  <main>
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Checkout form</h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-8 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card content-->
            
              <form method="POST" class="card-body">
                {% csrf_token %}
                <div class="hideable_shipping_form">
                  <div class="md-form mb-5">
                    <!-- <input type="text" id="address" class="form-control" placeholder="1234 Main St"> -->
                    {{form.street_address}}
                    <label for="address" class="">Address</label>
                  </div>
                  <div class="md-form mb-5">
                    <!-- <input type="text" id="address-2" class="form-control" placeholder="Apartment or suite"> -->
                    {{form.apartment_address}}
                    <label for="address-2" class="">Address 2 (optional)</label>
                  </div>
                  <div class="row">
                    <div class="col-lg-4 col-md-6 mb-4">
                      <label for="zip">Phone Number</label>
                      <!-- <input type="text" class="form-control" id="zip" placeholder="Phone Number" required> -->
                      {{form.phone_number}}
                    </div>
                  </div>
                </div>
                <hr> 
                <div class="set_default">              
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="set_default_shipping" id="set_default_shipping">
                    
                    <label class="custom-control-label" for="set_default_shipping">Save this information for next time</label>
                  </div>
                </div>
                {% if default_shipping_address %}
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="use_default_shipping" id="use_default_shipping">
                  
                  <label class="custom-control-label" for="use_default_shipping">Use default address: {{ default_shipping_address.street_address|truncatechars:20 }}</label>
                </div>
                {% endif %}
                <hr>
                <div class="d-block my-3">
                  <div class="custom-control custom-radio">                    
                  </div>                                  
                </div>              
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
              </form>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">

          <!-- Heading -->
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill">{{order.items.count}}</span>
          </h4>

          <!-- Cart -->
          <ul class="list-group mb-3 z-depth-1">
            {% for order_item in order.items.all %}
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">{{order_item.quantity}} x {{ order_item.item.title }}</h6>
                <small class="text-muted">{{ order_item.item.description }}</small>
              </div>
              <span class="text-muted">₦{{ order_item.get_final_price }}</span>
            </li>   
            {% endfor %}
            
            

          <!-- Promo code -->
          
        </div>
        <!--Grid column-->

        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  
  <!--Main layout-->

{% endblock content %}

{% block extra %}
<script>
var hideable_shipping_form = $('.hideable_shipping_form');
var default_shipping_toggle = $('.set_default');
var use_default_shipping = document.querySelector("input[name=use_default_shipping]");

use_default_shipping.addEventListener('change', function() {
  if (this.checked) {
    hideable_shipping_form.hide();
    default_shipping_toggle.hide();
  } else {
    hideable_shipping_form.show();
  }
})
</script>
{% endblock extra %}